USE [master]
GO
/****** Object:  Database [SistemaAvicola]    Script Date: 19/01/2026 19:41:21 ******/
CREATE DATABASE [SistemaAvicola]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaAvicola', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SistemaAvicola.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaAvicola_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SistemaAvicola_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaAvicola].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaAvicola]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[IdCargo] [int] NOT NULL,
	[NombreCargo] [varchar](30) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[IdEmpleado] [int] NOT NULL,
	[IdCargo] [int] NULL,
	[Cedula] [varchar](10) NOT NULL,
	[Nombre] [varchar](10) NOT NULL,
	[Apellido] [varchar](10) NOT NULL,
	[Ciudad] [varchar](10) NOT NULL,
	[Direccion] [varchar](30) NOT NULL,
	[Telefono] [varchar](10) NOT NULL,
	[Correo] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VEmpleado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VEmpleado]
AS
SELECT        dbo.Empleado.IdEmpleado, dbo.Cargo.NombreCargo, dbo.Empleado.Cedula, dbo.Empleado.Nombre, dbo.Empleado.Apellido, dbo.Empleado.Ciudad, dbo.Empleado.Direccion, dbo.Empleado.Telefono, dbo.Empleado.Correo
FROM            dbo.Cargo INNER JOIN
                         dbo.Empleado ON dbo.Cargo.IdCargo = dbo.Empleado.IdCargo
GO
/****** Object:  Table [dbo].[Camion]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Camion](
	[IdCamion] [int] NOT NULL,
	[IdEmpleado] [int] NULL,
	[Placa] [varchar](10) NOT NULL,
	[Marca] [varchar](10) NOT NULL,
	[CapacidadKG] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VCamionEmpleado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VCamionEmpleado]
AS
SELECT        dbo.Camion.IdCamion, dbo.Empleado.Nombre + ' ' + dbo.Empleado.Apellido AS Chofer, dbo.Camion.Placa, dbo.Camion.Marca, dbo.Camion.CapacidadKG
FROM            dbo.Camion INNER JOIN
                         dbo.Empleado ON dbo.Camion.IdEmpleado = dbo.Empleado.IdEmpleado
GO
/****** Object:  Table [dbo].[Galpon]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galpon](
	[IdGalpon] [int] NOT NULL,
	[Nombre] [varchar](15) NOT NULL,
	[CapacidadMaxima] [int] NOT NULL,
	[Ubicacion] [varchar](30) NOT NULL,
	[Estado] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[IdLote] [int] NOT NULL,
	[IdGalpon] [int] NOT NULL,
	[IdRaza] [int] NULL,
	[Codigo] [varchar](15) NOT NULL,
	[FechaIIngreso] [datetime] NOT NULL,
	[CantidadInicial] [int] NOT NULL,
	[CostoInicial] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](15) NOT NULL,
	[StockActual] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RazaAve]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RazaAve](
	[IdRaza] [int] NOT NULL,
	[Nombre] [varchar](10) NOT NULL,
	[Origen] [varchar](20) NOT NULL,
	[Descripcion] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VLote]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VLote]
AS
SELECT        dbo.Lote.IdLote, dbo.Galpon.Nombre AS Galpon, dbo.RazaAve.Nombre AS Raza, dbo.Lote.Codigo, dbo.Lote.FechaIIngreso, dbo.Lote.CantidadInicial, dbo.Lote.CostoInicial, dbo.Lote.Estado, dbo.Lote.StockActual
FROM            dbo.Galpon INNER JOIN
                         dbo.Lote ON dbo.Galpon.IdGalpon = dbo.Lote.IdGalpon INNER JOIN
                         dbo.RazaAve ON dbo.Lote.IdRaza = dbo.RazaAve.IdRaza
GO
/****** Object:  Table [dbo].[BitacoraDiaria]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraDiaria](
	[IdBitacora] [int] NOT NULL,
	[IdEmpleado] [int] NULL,
	[IdLote] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Mortalidad] [int] NULL,
	[AlimentoConsumido] [decimal](10, 2) NOT NULL,
	[PesoPromedio] [decimal](10, 2) NOT NULL,
	[Observaciones] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VBitacoraDiaria]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VBitacoraDiaria]
AS
SELECT        dbo.BitacoraDiaria.IdBitacora, dbo.Empleado.Nombre + ' ' + dbo.Empleado.Apellido AS Empleado, dbo.Lote.Codigo AS Lote, dbo.BitacoraDiaria.Fecha, dbo.BitacoraDiaria.Mortalidad, dbo.BitacoraDiaria.AlimentoConsumido, 
                         dbo.BitacoraDiaria.PesoPromedio, dbo.BitacoraDiaria.Observaciones
FROM            dbo.BitacoraDiaria INNER JOIN
                         dbo.Empleado ON dbo.BitacoraDiaria.IdEmpleado = dbo.Empleado.IdEmpleado INNER JOIN
                         dbo.Lote ON dbo.BitacoraDiaria.IdLote = dbo.Lote.IdLote
GO
/****** Object:  Table [dbo].[Orden_Faenado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orden_Faenado](
	[IdOrden] [int] NOT NULL,
	[IdLote] [int] NULL,
	[IdEmpleado] [int] NULL,
	[FechaFaena] [datetime] NOT NULL,
	[AvesProcesadas] [int] NOT NULL,
	[PesoVivoTotal] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VOrden]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VOrden]
AS
SELECT        dbo.Orden_Faenado.IdOrden, dbo.Lote.Codigo AS Lote, dbo.Empleado.Nombre + ' ' + dbo.Empleado.Apellido AS Empleado, dbo.Orden_Faenado.FechaFaena, dbo.Orden_Faenado.AvesProcesadas, 
                         dbo.Orden_Faenado.PesoVivoTotal
FROM            dbo.Empleado INNER JOIN
                         dbo.Orden_Faenado ON dbo.Empleado.IdEmpleado = dbo.Orden_Faenado.IdEmpleado INNER JOIN
                         dbo.Lote ON dbo.Orden_Faenado.IdLote = dbo.Lote.IdLote
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] NOT NULL,
	[RazonSocial] [varchar](30) NOT NULL,
	[Cedula] [varchar](10) NOT NULL,
	[Ciudad] [varchar](15) NOT NULL,
	[Direccion] [varchar](30) NOT NULL,
	[Telefono] [varchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] NOT NULL,
	[IdCliente] [int] NULL,
	[IdCamion] [int] NULL,
	[IdEmpleado] [int] NULL,
	[NumeroFactura] [varchar](10) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[TotalVenta] [decimal](10, 2) NOT NULL,
	[Estado] [varchar](15) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VVenta]
AS
SELECT        dbo.Venta.IdVenta, dbo.Cliente.RazonSocial AS Cliente, dbo.Camion.Placa AS Camion, dbo.Empleado.Nombre + ' ' + dbo.Empleado.Apellido AS Vendedor, dbo.Venta.NumeroFactura, dbo.Venta.Fecha, dbo.Venta.TotalVenta, 
                         dbo.Venta.Estado
FROM            dbo.Camion INNER JOIN
                         dbo.Venta ON dbo.Camion.IdCamion = dbo.Venta.IdCamion INNER JOIN
                         dbo.Empleado ON dbo.Venta.IdEmpleado = dbo.Empleado.IdEmpleado INNER JOIN
                         dbo.Cliente ON dbo.Venta.IdCliente = dbo.Cliente.IdCliente
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalle] [int] NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[CantidadVendida] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[Subtotal] [decimal](10, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote_Faenado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote_Faenado](
	[IdProducto] [int] NOT NULL,
	[IdOrden] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PesoTotal] [decimal](10, 2) NOT NULL,
	[FechaVencimiento] [datetime] NOT NULL,
	[StockActual] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VDetalle]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VDetalle]
AS
SELECT        dbo.DetalleVenta.IdDetalle, dbo.Venta.NumeroFactura AS Factura, dbo.DetalleVenta.IdProducto, dbo.DetalleVenta.CantidadVendida, dbo.DetalleVenta.PrecioUnitario, dbo.DetalleVenta.Subtotal
FROM            dbo.DetalleVenta INNER JOIN
                         dbo.Lote_Faenado ON dbo.DetalleVenta.IdProducto = dbo.Lote_Faenado.IdProducto INNER JOIN
                         dbo.Venta ON dbo.DetalleVenta.IdVenta = dbo.Venta.IdVenta
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreLogin] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[NombreCompleto] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BitacoraDiaria] ([IdBitacora], [IdEmpleado], [IdLote], [Fecha], [Mortalidad], [AlimentoConsumido], [PesoPromedio], [Observaciones]) VALUES (1, 3, 1, CAST(N'2025-12-30T17:01:23.237' AS DateTime), 10, CAST(5.40 AS Decimal(10, 2)), CAST(923.00 AS Decimal(10, 2)), N'Sanos')
INSERT [dbo].[BitacoraDiaria] ([IdBitacora], [IdEmpleado], [IdLote], [Fecha], [Mortalidad], [AlimentoConsumido], [PesoPromedio], [Observaciones]) VALUES (2, 3, 2, CAST(N'2025-12-30T17:01:48.887' AS DateTime), 50, CAST(2.34 AS Decimal(10, 2)), CAST(5.65 AS Decimal(10, 2)), N'Enfermos')
INSERT [dbo].[BitacoraDiaria] ([IdBitacora], [IdEmpleado], [IdLote], [Fecha], [Mortalidad], [AlimentoConsumido], [PesoPromedio], [Observaciones]) VALUES (3, 3, 3, CAST(N'2025-12-30T17:02:19.317' AS DateTime), 0, CAST(40.32 AS Decimal(10, 2)), CAST(9.32 AS Decimal(10, 2)), N'Sanos')
GO
INSERT [dbo].[Camion] ([IdCamion], [IdEmpleado], [Placa], [Marca], [CapacidadKG]) VALUES (1, 1, N'OBL4023', N'Mazda', CAST(600.00 AS Decimal(10, 2)))
INSERT [dbo].[Camion] ([IdCamion], [IdEmpleado], [Placa], [Marca], [CapacidadKG]) VALUES (2, 2, N'OBA0023', N'Honda', CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[Camion] ([IdCamion], [IdEmpleado], [Placa], [Marca], [CapacidadKG]) VALUES (3, 1, N'OBL2023', N'Honda', CAST(40.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[Cargo] ([IdCargo], [NombreCargo], [Descripcion]) VALUES (1, N'Chofer', N'Encargado de transportar el producto')
INSERT [dbo].[Cargo] ([IdCargo], [NombreCargo], [Descripcion]) VALUES (2, N'Galponero', N'Persona a cargo del mantenimiento del galpón')
INSERT [dbo].[Cargo] ([IdCargo], [NombreCargo], [Descripcion]) VALUES (3, N'Faenador', N'Responsable del faenado de los pollos')
GO
INSERT [dbo].[Cliente] ([IdCliente], [RazonSocial], [Cedula], [Ciudad], [Direccion], [Telefono]) VALUES (1, N'Asadero El Pollito', N'0704561230', N'Machala', N'Av. 25 de Junio', N'0991234567')
INSERT [dbo].[Cliente] ([IdCliente], [RazonSocial], [Cedula], [Ciudad], [Direccion], [Telefono]) VALUES (2, N'Juan Carlos Pérez', N'0703216549', N'Machala', N'Barrio Central', N'0987654321')
INSERT [dbo].[Cliente] ([IdCliente], [RazonSocial], [Cedula], [Ciudad], [Direccion], [Telefono]) VALUES (3, N'Restaurante La Sazón', N'0701122334', N'Pasaje', N'Calle Rocafuerte', N'072912345')
GO
INSERT [dbo].[DetalleVenta] ([IdDetalle], [IdVenta], [IdProducto], [CantidadVendida], [PrecioUnitario], [Subtotal]) VALUES (1, 1, 1, 10, CAST(7.50 AS Decimal(10, 2)), CAST(75.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([IdDetalle], [IdVenta], [IdProducto], [CantidadVendida], [PrecioUnitario], [Subtotal]) VALUES (2, 2, 2, 50, CAST(7.50 AS Decimal(10, 2)), CAST(375.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([IdDetalle], [IdVenta], [IdProducto], [CantidadVendida], [PrecioUnitario], [Subtotal]) VALUES (3, 6, 3, 1, CAST(7.50 AS Decimal(10, 2)), CAST(7.50 AS Decimal(10, 2)))
GO
INSERT [dbo].[Empleado] ([IdEmpleado], [IdCargo], [Cedula], [Nombre], [Apellido], [Ciudad], [Direccion], [Telefono], [Correo]) VALUES (1, 1, N'0705932101', N'Carlos', N'Mejia', N'Balsas', N'Av. Central 102', N'0987654321', N'carlos.m@mail.com')
INSERT [dbo].[Empleado] ([IdEmpleado], [IdCargo], [Cedula], [Nombre], [Apellido], [Ciudad], [Direccion], [Telefono], [Correo]) VALUES (2, 1, N'0706632102', N'Luis', N'Pineda', N'Marcabeli', N'Calle Sucre s/n', N'0987654322', N'luis.p@mail.com')
INSERT [dbo].[Empleado] ([IdEmpleado], [IdCargo], [Cedula], [Nombre], [Apellido], [Ciudad], [Direccion], [Telefono], [Correo]) VALUES (3, 2, N'0702032103', N'Juan', N'Armijos', N'Balsas', N'Sector La Esperanza', N'0987654323', N'juan.a@mail.com')
GO
INSERT [dbo].[Galpon] ([IdGalpon], [Nombre], [CapacidadMaxima], [Ubicacion], [Estado]) VALUES (1, N'Galpon Norte 1', 12000, N'Sector El Progreso', N'Ocupado')
INSERT [dbo].[Galpon] ([IdGalpon], [Nombre], [CapacidadMaxima], [Ubicacion], [Estado]) VALUES (2, N'La Esperanza', 15000, N'Via al Paraiso', N'Ocupado')
INSERT [dbo].[Galpon] ([IdGalpon], [Nombre], [CapacidadMaxima], [Ubicacion], [Estado]) VALUES (3, N'San Jose 01', 8000, N'Barrio San Jose', N'Disponible')
GO
INSERT [dbo].[Lote] ([IdLote], [IdGalpon], [IdRaza], [Codigo], [FechaIIngreso], [CantidadInicial], [CostoInicial], [Estado], [StockActual]) VALUES (1, 1, 2, N'LOT-001', CAST(N'2025-08-28T00:00:00.000' AS DateTime), 12000, CAST(1200.00 AS Decimal(10, 2)), N'Crianza', 11690)
INSERT [dbo].[Lote] ([IdLote], [IdGalpon], [IdRaza], [Codigo], [FechaIIngreso], [CantidadInicial], [CostoInicial], [Estado], [StockActual]) VALUES (2, 2, 1, N'LOT-002', CAST(N'2025-05-26T00:00:00.000' AS DateTime), 15000, CAST(2000.00 AS Decimal(10, 2)), N'Crianza', 14450)
INSERT [dbo].[Lote] ([IdLote], [IdGalpon], [IdRaza], [Codigo], [FechaIIngreso], [CantidadInicial], [CostoInicial], [Estado], [StockActual]) VALUES (3, 3, 3, N'LOT-003', CAST(N'2025-12-28T00:00:00.000' AS DateTime), 2000, CAST(850.50 AS Decimal(10, 2)), N'Cerrado', 1990)
GO
INSERT [dbo].[Lote_Faenado] ([IdProducto], [IdOrden], [Cantidad], [PesoTotal], [FechaVencimiento], [StockActual]) VALUES (1, 1, 298, CAST(400.32 AS Decimal(10, 2)), CAST(N'2026-01-16T17:06:58.000' AS DateTime), 210)
INSERT [dbo].[Lote_Faenado] ([IdProducto], [IdOrden], [Cantidad], [PesoTotal], [FechaVencimiento], [StockActual]) VALUES (2, 2, 485, CAST(900.32 AS Decimal(10, 2)), CAST(N'2026-07-25T17:07:24.000' AS DateTime), 315)
INSERT [dbo].[Lote_Faenado] ([IdProducto], [IdOrden], [Cantidad], [PesoTotal], [FechaVencimiento], [StockActual]) VALUES (3, 3, 2, CAST(4.32 AS Decimal(10, 2)), CAST(N'2026-02-09T17:08:33.000' AS DateTime), 1)
GO
INSERT [dbo].[Orden_Faenado] ([IdOrden], [IdLote], [IdEmpleado], [FechaFaena], [AvesProcesadas], [PesoVivoTotal]) VALUES (1, 1, 7, CAST(N'2025-12-30T17:03:56.670' AS DateTime), 300, CAST(400.32 AS Decimal(10, 2)))
INSERT [dbo].[Orden_Faenado] ([IdOrden], [IdLote], [IdEmpleado], [FechaFaena], [AvesProcesadas], [PesoVivoTotal]) VALUES (2, 2, 8, CAST(N'2025-12-30T17:04:43.300' AS DateTime), 500, CAST(643.32 AS Decimal(10, 2)))
INSERT [dbo].[Orden_Faenado] ([IdOrden], [IdLote], [IdEmpleado], [FechaFaena], [AvesProcesadas], [PesoVivoTotal]) VALUES (3, 3, 7, CAST(N'2025-12-23T17:05:36.000' AS DateTime), 10, CAST(56.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[RazaAve] ([IdRaza], [Nombre], [Origen], [Descripcion]) VALUES (1, N'Ross 308', N'Escocia', N'Excelente engorde y pechuga')
INSERT [dbo].[RazaAve] ([IdRaza], [Nombre], [Origen], [Descripcion]) VALUES (2, N'Cobb 500', N'EE.UU.', N'Mayor rendimiento de carne')
INSERT [dbo].[RazaAve] ([IdRaza], [Nombre], [Origen], [Descripcion]) VALUES (3, N'Hubbard', N'Francia', N'Gran crecimiento y robustez')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [NombreLogin], [Password], [NombreCompleto]) VALUES (1, N'admin', N'admin', N'Administrador del sistema')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
INSERT [dbo].[Venta] ([IdVenta], [IdCliente], [IdCamion], [IdEmpleado], [NumeroFactura], [Fecha], [TotalVenta], [Estado]) VALUES (1, 1, 1, 10, N'FAC-001', CAST(N'2026-01-01T15:17:17.490' AS DateTime), CAST(100.32 AS Decimal(10, 2)), N'Listo')
INSERT [dbo].[Venta] ([IdVenta], [IdCliente], [IdCamion], [IdEmpleado], [NumeroFactura], [Fecha], [TotalVenta], [Estado]) VALUES (2, 3, 2, 10, N'FAC-002', CAST(N'2026-01-09T15:17:40.000' AS DateTime), CAST(45.50 AS Decimal(10, 2)), N'Listo')
INSERT [dbo].[Venta] ([IdVenta], [IdCliente], [IdCamion], [IdEmpleado], [NumeroFactura], [Fecha], [TotalVenta], [Estado]) VALUES (7, 7, 3, 10, N'FAC--007', CAST(N'2026-01-06T08:57:40.000' AS DateTime), CAST(200.00 AS Decimal(10, 2)), N'Listo')
GO
/****** Object:  Index [PK3]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[BitacoraDiaria] ADD  CONSTRAINT [PK3] PRIMARY KEY NONCLUSTERED 
(
	[IdBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK7]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Camion] ADD  CONSTRAINT [PK7] PRIMARY KEY NONCLUSTERED 
(
	[IdCamion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK11]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Cargo] ADD  CONSTRAINT [PK11] PRIMARY KEY NONCLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK6]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [PK6] PRIMARY KEY NONCLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK9]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[DetalleVenta] ADD  CONSTRAINT [PK9] PRIMARY KEY NONCLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK10]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [PK10] PRIMARY KEY NONCLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK1]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Galpon] ADD  CONSTRAINT [PK1] PRIMARY KEY NONCLUSTERED 
(
	[IdGalpon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK2]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Lote] ADD  CONSTRAINT [PK2] PRIMARY KEY NONCLUSTERED 
(
	[IdLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK5]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Lote_Faenado] ADD  CONSTRAINT [PK5] PRIMARY KEY NONCLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK4]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Orden_Faenado] ADD  CONSTRAINT [PK4] PRIMARY KEY NONCLUSTERED 
(
	[IdOrden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK13]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[RazaAve] ADD  CONSTRAINT [PK13] PRIMARY KEY NONCLUSTERED 
(
	[IdRaza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__EAFFC88B7F4AFBF7]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[NombreLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK8]    Script Date: 19/01/2026 19:41:22 ******/
ALTER TABLE [dbo].[Venta] ADD  CONSTRAINT [PK8] PRIMARY KEY NONCLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BitacoraDiaria]  WITH CHECK ADD  CONSTRAINT [RefEmpleado11] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[BitacoraDiaria] CHECK CONSTRAINT [RefEmpleado11]
GO
ALTER TABLE [dbo].[BitacoraDiaria]  WITH CHECK ADD  CONSTRAINT [RefLote2] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lote] ([IdLote])
GO
ALTER TABLE [dbo].[BitacoraDiaria] CHECK CONSTRAINT [RefLote2]
GO
ALTER TABLE [dbo].[Camion]  WITH CHECK ADD  CONSTRAINT [RefEmpleado17] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Camion] CHECK CONSTRAINT [RefEmpleado17]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [RefLote_Faenado10] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Lote_Faenado] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [RefLote_Faenado10]
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD  CONSTRAINT [RefVenta9] FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[DetalleVenta] CHECK CONSTRAINT [RefVenta9]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [RefCargo12] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargo] ([IdCargo])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [RefCargo12]
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD  CONSTRAINT [RefGalpon1] FOREIGN KEY([IdGalpon])
REFERENCES [dbo].[Galpon] ([IdGalpon])
GO
ALTER TABLE [dbo].[Lote] CHECK CONSTRAINT [RefGalpon1]
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD  CONSTRAINT [RefRazaAve16] FOREIGN KEY([IdRaza])
REFERENCES [dbo].[RazaAve] ([IdRaza])
GO
ALTER TABLE [dbo].[Lote] CHECK CONSTRAINT [RefRazaAve16]
GO
ALTER TABLE [dbo].[Lote_Faenado]  WITH CHECK ADD  CONSTRAINT [RefOrden_Faenado4] FOREIGN KEY([IdOrden])
REFERENCES [dbo].[Orden_Faenado] ([IdOrden])
GO
ALTER TABLE [dbo].[Lote_Faenado] CHECK CONSTRAINT [RefOrden_Faenado4]
GO
ALTER TABLE [dbo].[Orden_Faenado]  WITH CHECK ADD  CONSTRAINT [RefEmpleado13] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Orden_Faenado] CHECK CONSTRAINT [RefEmpleado13]
GO
ALTER TABLE [dbo].[Orden_Faenado]  WITH CHECK ADD  CONSTRAINT [RefLote3] FOREIGN KEY([IdLote])
REFERENCES [dbo].[Lote] ([IdLote])
GO
ALTER TABLE [dbo].[Orden_Faenado] CHECK CONSTRAINT [RefLote3]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [RefCamion8] FOREIGN KEY([IdCamion])
REFERENCES [dbo].[Camion] ([IdCamion])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [RefCamion8]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [RefCliente7] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([IdCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [RefCliente7]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [RefEmpleado15] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleado] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [RefEmpleado15]
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarBitacora]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarBitacora]
	@IdBitacora int


	
AS
BEGIN
	delete from BitacoraDiaria where IdBitacora = @IdBitacora
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarCamion]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarCamion]
	@IdCamion int


	
AS
BEGIN
	delete from Camion where idCamion = @IdCamion
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarCargo]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarCargo]
	@IdCargo int

AS
BEGIN
	delete from Cargo
	where IdCargo = @IdCargo
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarCliente]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarCliente]
	@IdCliente int

AS
BEGIN
	delete from Cliente
	where idCliente = @idCliente
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarDetalleVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarDetalleVenta]
	@IdDetalle int

AS
BEGIN
	delete from DetalleVenta
	where IdDetalle = @IdDetalle
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarEmpleado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarEmpleado]
	@IdEmpleado int


AS
BEGIN
	delete from Empleado
	where IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarGalpon]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarGalpon]
	@IdGalpon int



AS
BEGIN
	
	delete from Galpon
	where IdGalpon = @IdGalpon
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarLote]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarLote]
	@IdLote int

AS
BEGIN
	
	delete from Lote
	where IdLote = @IdLote
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarLoteFaenado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarLoteFaenado]
	@IdProducto int

AS
BEGIN
	
	delete from Lote_Faenado
	where IdProducto = @IdProducto
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarOrdenFaenado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarOrdenFaenado]
	@IdOrden int

AS
BEGIN
	
	delete from Orden_Faenado
	where IdOrden = @IdOrden
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarRazaAve]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarRazaAve]
	@IdRaza int

AS
BEGIN
	
	delete from RazaAve
	where IdRaza = @IdRaza
END
GO
/****** Object:  StoredProcedure [dbo].[CP_EliminarVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_EliminarVenta]
	@IdVenta int

AS
BEGIN
	
	delete from Venta
	where IdVenta = @IdVenta
END
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarBitacora]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarBitacora]
	@IdBitacora int,
	@IdEmpleado int,
	@IdLote int,
	@Fecha DateTime,
	@Mortalidad int,
	@Alimento decimal(10,2),
	@PesoPromedio decimal(10,2),
	@Observaciones varchar(10)

	
AS
BEGIN
	insert into BitacoraDiaria(IdBitacora, IdEmpleado, IdLote,
	Fecha, Mortalidad, AlimentoConsumido, PesoPromedio, Observaciones)
	values (@IdBitacora, @IdEmpleado, @IdLote, @Fecha, @Mortalidad, @Alimento, @PesoPromedio, @Observaciones)
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarCamion]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarCamion]
    @IdCamion INT,
    @IdEmpleado INT,
    @Placa VARCHAR(10),
    @Marca VARCHAR(10),
    @Capacidad DECIMAL(10,2)    
AS
BEGIN
    INSERT INTO Camion (IdCamion, IdEmpleado, Placa, Marca, CapacidadKG)
    VALUES (@IdCamion, @IdEmpleado, @Placa, @Marca, @Capacidad);
END;
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarCargo]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarCargo]
    @IdCargo INT,
    @NombreCargo VARCHAR(30),
    @Descripcion VARCHAR(50)
AS
BEGIN
    INSERT INTO Cargo (IdCargo, NombreCargo, Descripcion)
    VALUES (@IdCargo, @NombreCargo, @Descripcion);
END;
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarCliente]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarCliente]
    @IdCliente INT,
    @RazonSocial VARCHAR(30),
    @Cedula VARCHAR(10),
    @Ciudad VARCHAR(15),
    @Direccion VARCHAR(30),
    @Telefono VARCHAR(10)
AS
BEGIN
    INSERT INTO Cliente (IdCliente, RazonSocial, Cedula, Ciudad, Direccion, Telefono)
    VALUES (@IdCliente, @RazonSocial, @Cedula, @Ciudad, @Direccion, @Telefono);
END;
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarDetalleVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarDetalleVenta]
    @IdDetalle INT,
    @IdVenta INT,
    @IdProducto INT,
    @CantVendida INT,
    @PrecioUnitario DECIMAL(10,2),
    @Subtotal DECIMAL(10,2)
AS
BEGIN
    INSERT INTO DetalleVenta (IdDetalle, IdVenta, IdProducto, CantidadVendida, PrecioUnitario, Subtotal)
    VALUES (@IdDetalle, @IdVenta, @IdProducto, @CantVendida, @PrecioUnitario, @Subtotal);
END;
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarEmpleado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarEmpleado]
    @IdEmpleado INT,
    @IdCargo INT,
    @Cedula VARCHAR(10),
    @Nombre VARCHAR(10),
    @Apellido VARCHAR(10),
    @Ciudad VARCHAR(10),
    @Direccion VARCHAR(30),
    @Telefono VARCHAR(10),
    @Correo VARCHAR(30)
AS
BEGIN
    INSERT INTO Empleado (IdEmpleado, IdCargo, Cedula, Nombre, Apellido, Ciudad, Direccion, Telefono, Correo)
    VALUES (@IdEmpleado, @IdCargo, @Cedula, @Nombre, @Apellido, @Ciudad, @Direccion, @Telefono, @Correo);
END;
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarGalpon]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarGalpon]
    @IdGalpon INT,
    @Nombre VARCHAR(15),
    @Capacidad INT,
    @Ubicacion VARCHAR(30),
    @Estado VARCHAR(20)
AS
BEGIN
    INSERT INTO Galpon (IdGalpon, Nombre, CapacidadMaxima, Ubicacion, Estado)
    VALUES (@IdGalpon, @Nombre, @Capacidad, @Ubicacion, @Estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarLote]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarLote]
    @IdLote INT,
    @IdGalpon INT,
    @IdRaza INT,
    @Codigo VARCHAR(15),
    @FechaIngreso DATETIME,
    @CantInicial INT,
    @CosInicial DECIMAL(10,2),
    @Estado VARCHAR(15),
    @StockActual INT
AS
BEGIN
    INSERT INTO Lote (IdLote, IdGalpon, IdRaza, Codigo, FechaIIngreso, CantidadInicial, CostoInicial, Estado, StockActual)
    VALUES (@IdLote, @IdGalpon, @IdRaza, @Codigo, @FechaIngreso, @CantInicial, @CosInicial, @Estado, @StockActual);
END;
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarLoteFaenado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarLoteFaenado]
	@IdProducto int,
	@IdOrden int,
	@Cantidad int,
	@PesoTotal decimal(10,2),
	@FechaVencimiento datetime,
	@StockActual int

AS
BEGIN

	INSERT INTO Lote_Faenado (IdProducto, IdOrden, Cantidad, PesoTotal, FechaVencimiento, StockActual)
    VALUES (@IdProducto, @IdOrden, @Cantidad, @PesoTotal, @FechaVencimiento, @StockActual);

END
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarOrdenFaenado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarOrdenFaenado]
	@IdOrden int,
	@IdLote int,
	@IdEmpleado int,
	@FechaFaena datetime,
	@AvesProcesadas int,
	@PesoVivoTotal decimal(10,2)

AS
BEGIN
	
	INSERT INTO Orden_Faenado (IdOrden, IdLote, IdEmpleado, FechaFaena, AvesProcesadas, PesoVivoTotal)
    VALUES (@IdOrden, @IdLote, @IdEmpleado, @FechaFaena, @AvesProcesadas, @PesoVivoTotal);
END
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarRazaAve]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarRazaAve]
	@IdRaza int,
	@Nombre varchar(10),
	@Origen varchar(20),
	@Descripcion varchar(30)

AS
BEGIN
	INSERT INTO RazaAve (IdRaza, Nombre, Origen, Descripcion)
    VALUES (@IdRaza, @Nombre, @Origen, @Descripcion);
END
GO
/****** Object:  StoredProcedure [dbo].[CP_InsertarVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_InsertarVenta]
	@IdVenta int,
	@IdCliente int,
	@IdCamion int,
	@IdEmpleado int,
	@NroFac varchar(10),
	@Fecha datetime,
	@TotalVenta decimal(10,2),
	@Estado varchar(15)

AS
BEGIN
	
	INSERT INTO Venta (IdVenta, IdCliente, IdCamion, IdEmpleado, NumeroFactura, Fecha, TotalVenta, Estado)
    VALUES (@IdVenta, @IdCliente, @IdCamion, @IdEmpleado, @NroFac, @Fecha, @TotalVenta, @Estado);
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarBitacora]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarBitacora]

	
AS
BEGIN
	select *
	from BitacoraDiaria
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarCamion]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarCamion]

	
AS
BEGIN
	select *
	from Camion
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarCargo]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarCargo]

	
AS
BEGIN
	select *
	from Cargo
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarCliente]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarCliente]

	
AS
BEGIN
	select *
	from Cliente
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarDetalleVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarDetalleVenta]

	
AS
BEGIN
	select *
	from DetalleVenta
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarEmpleado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarEmpleado]

	
AS
BEGIN
	select *
	from Empleado
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarGalpon]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarGalpon]

	
AS
BEGIN
	select *
	from Galpon
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarLote]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarLote]

	
AS
BEGIN
	select *
	from Lote
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarLoteFaenado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarLoteFaenado]

	
AS
BEGIN
	select *
	from Lote_Faenado
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarOrden_Faeando]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarOrden_Faeando]

	
AS
BEGIN
	select *
	from Orden_Faenado
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarRazaAve]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarRazaAve]

	
AS
BEGIN
	select *
	from RazaAve
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarVenta]

	
AS
BEGIN
	select *
	from Venta
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarVistaBitacora]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarVistaBitacora]

	
AS
BEGIN
	select *
	from [dbo].[VBitacoraDiaria]
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarVistaCamion]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarVistaCamion]

	
AS
BEGIN
	select *
	from [dbo].[VCamionEmpleado]
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarVistaDetalle]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarVistaDetalle]

	
AS
BEGIN
	select *
	from [dbo].[VDetalle]
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarVistaEmpleado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarVistaEmpleado]

	
AS
BEGIN
	select *
	from [dbo].[VEmpleado]
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarVistaLote]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarVistaLote]

	
AS
BEGIN
	select *
	from [dbo].[VLote]
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarVistaOrden]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarVistaOrden]

	
AS
BEGIN
	select *
	from [dbo].[VOrden]
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ListarVistaVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_ListarVistaVenta]

	
AS
BEGIN
	select *
	from [dbo].[VVenta]
	
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarBitacora]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarBitacora]
	@IdBitacora int,
	@IdEmpleado int,
	@IdLote int,
	@Fecha DateTime,
	@Mortalidad int,
	@Alimento decimal(10,2),
	@PesoPromedio decimal(10,2),
	@Observaciones varchar(10)

	
AS
BEGIN
	update BitacoraDiaria set IdBitacora = @IdBitacora, IdEmpleado = @IdEmpleado, IdLote = @IdLote,
	Fecha = @Fecha, Mortalidad = @Mortalidad, AlimentoConsumido = @Alimento, PesoPromedio = @PesoPromedio, Observaciones = @Observaciones	
	where IdBitacora = @IdBitacora
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarCamion]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CP_ModificarCamion]
	@IdCamion int,
	@IdEmpleado int,
	@Placa varchar(10),
	@Marca varchar(10),
	@CapacidadKG decimal(10,2)


	
AS
BEGIN
	update Camion set IdCamion = @IdCamion, IdEmpleado = @IdEmpleado, Placa = @Placa, Marca = @Marca, CapacidadKG = @CapacidadKG
	where IdCamion = @IdCamion
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarCargo]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarCargo]
	@IdCargo int,
	@NombreCargo varchar(30),
	@Descripcion varchar(50)

AS
BEGIN
	update Cargo set IdCargo = @IdCargo, NombreCargo = @NombreCargo, Descripcion = @Descripcion
	where IdCargo = @IdCargo
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarCliente]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarCliente]
	@IdCliente int,
	@RazonSocial varchar(30),
	@Cedula varchar(10),
	@Ciudad varchar(15),
	@Direccion varchar(30),
	@Telefono varchar(10)

AS
BEGIN
	update Cliente set IdCliente = @IdCliente, RazonSocial = @RazonSocial, Cedula = @Cedula,
	Ciudad = @Ciudad, Direccion = @Direccion, Telefono = @Telefono
	where idCliente = @idCliente
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarDetalleVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarDetalleVenta]
	@IdDetalle int,
	@IdVenta int,
	@IdProducto int,
	@CantVendida int,
	@PrecioUnitario decimal(10,2),
	@Subtotal decimal(10,2)

AS
BEGIN
	update DetalleVenta set IdDetalle = @IdDetalle, IdVenta = @IdVenta, IdProducto = @IdProducto, CantidadVendida = @CantVendida,
	PrecioUnitario = @PrecioUnitario, Subtotal = @Subtotal
	where IdDetalle = @IdDetalle
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarEmpleado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarEmpleado]
	@IdEmpleado int,
	@IdCargo int,
	@Cedula varchar(10),
	@Nombre varchar(10),
	@Apellido varchar(10),
	@Ciudad varchar(10),
	@Direccion varchar(30),
	@Telefono varchar(10),
	@Correo varchar(30)


AS
BEGIN
	update Empleado set IdEmpleado = @IdEmpleado, IdCargo = @IdCargo, Cedula = @Cedula,
	Nombre = @Nombre, Apellido = @Apellido, Ciudad = @Ciudad, Direccion = @Direccion,
	Telefono = @Telefono, Correo = @Correo
	where IdEmpleado = @IdEmpleado
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarGalpon]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarGalpon]
	@IdGalpon int,
	@Nombre varchar(15),
	@Capacidad int,
	@Ubicacion varchar(30),
	@Estado varchar(20)



AS
BEGIN
	update Galpon set IdGalpon = @IdGalpon, Nombre = @Nombre, 
	CapacidadMaxima = @Capacidad, Ubicacion = @Ubicacion, Estado = @Estado
	where IdGalpon = @IdGalpon
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarLote]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarLote]
	@IdLote int,
	@IdGalpon int,
	@IdRaza int,
	@Codigo varchar(15),
	@FechaIngreso datetime,
	@CantInicial int,
	@CosInicial decimal(10,2),
	@Estado varchar(15),
	@StockActual int

AS
BEGIN
	
	update Lote set IdLote = @IdLote, IdGalpon = @IdGalpon, IdRaza = @IdRaza, Codigo = @Codigo, FechaIIngreso = @FechaIngreso,
	CantidadInicial = @CantInicial, CostoInicial = @CosInicial, Estado = @Estado, StockActual = @StockActual
	where IdLote = @IdLote
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarLoteFaenado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarLoteFaenado]
	@IdProducto int,
	@IdOrden int,
	@Cantidad int,
	@PesoTotal decimal(10,2),
	@FechaVencimiento datetime,
	@StockActual int

AS
BEGIN
	
	update Lote_Faenado set IdProducto = @IdProducto, IdOrden = @IdOrden,
	Cantidad = @Cantidad, PesoTotal = @PesoTotal, FechaVencimiento = @FechaVencimiento, StockActual = @StockActual
	where IdProducto = @IdProducto
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarOrdenFaenado]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarOrdenFaenado]
	@IdOrden int,
	@IdLote int,
	@IdEmpleado int,
	@FechaFaena datetime,
	@AvesProcesadas int,
	@PesoVivoTotal decimal(10,2)

AS
BEGIN
	
	update Orden_Faenado SET IdOrden = @IdOrden, IdLote = @IdLote, IdEmpleado = @IdEmpleado,
	FechaFaena = @FechaFaena, AvesProcesadas = @AvesProcesadas, PesoVivoTotal = @PesoVivoTotal
	where IdOrden = @IdOrden
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarRazaAve]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarRazaAve]
	@IdRaza int,
	@Nombre varchar(10),
	@Origen varchar(20),
	@Descripcion varchar(30)

AS
BEGIN
	
	update RazaAve set IdRaza = @IdRaza, Nombre = @Nombre, Origen = @Origen, Descripcion = @Descripcion
	where IdRaza = @IdRaza
END
GO
/****** Object:  StoredProcedure [dbo].[CP_ModificarVenta]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[CP_ModificarVenta]
	@IdVenta int,
	@IdCliente int,
	@IdCamion int,
	@IdEmpleado int,
	@NroFac varchar(10),
	@Fecha datetime,
	@TotalVenta decimal(10,2),
	@Estado varchar(15)

AS
BEGIN
	
	update Venta set IdVenta = @IdVenta, IdCliente = @IdCliente, IdCamion = @IdCamion,
	IdEmpleado = @IdEmpleado, NumeroFactura = @NroFac, Fecha = @Fecha, TotalVenta = @TotalVenta,
	Estado = @Estado
	where IdVenta = @IdVenta
END
GO
/****** Object:  StoredProcedure [dbo].[CP_Reporte1]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CP_Reporte1]

AS
BEGIN
	
	SELECT 
    g.Nombre AS NombreGalpon,
    l.Codigo AS CodigoLote,
    l.FechaIIngreso,
    l.CantidadInicial AS PoblacionInicial,
    -- Subconsulta para sumar muertes de este lote específico
    ISNULL((SELECT SUM(m.Mortalidad) FROM BitacoraDiaria m WHERE m.IdLote = l.IdLote), 0) AS TotalMuertes,
    -- Subconsulta para sumar faenados de este lote específico
    ISNULL((SELECT SUM(f.Cantidad) FROM Lote_Faenado f WHERE f.IdOrden = O.IdLote), 0) AS TotalFaenados
FROM 
    Galpon g
INNER JOIN 
    Lote l ON g.IdGalpon = l.IdGalpon
INNER JOIN
    Orden_Faenado O ON l.IdLote = O.IdLote


END
GO
/****** Object:  StoredProcedure [dbo].[CP_Reporte2]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CP_Reporte2]

AS
BEGIN
	
	SELECT 
        c.RazonSocial AS Cliente,       -- Fila (Quién compró)
        v.Fecha AS Fecha,   -- Columna (Cuándo compró)
        v.TotalVenta AS Monto      -- Dato (Cuánto pagó)
        -- Si prefieres cantidad de pollos, usa v.Cantidad en vez de v.TotalPagar
    FROM 
        Venta v
    INNER JOIN 
        Cliente c ON v.IdCliente = c.IdCliente



END
GO
/****** Object:  StoredProcedure [dbo].[CP_Reporte3]    Script Date: 19/01/2026 19:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CP_Reporte3]
    @FechaInicio DATE,
    @FechaFin DATE
AS
BEGIN
    SELECT 
        v.NumeroFactura,
        v.Fecha,
        c.RazonSocial AS Cliente,
        c.Cedula,
        dv.CantidadVendida AS CantidadPollos, 
        v.TotalVenta
    FROM 
        Venta v
    INNER JOIN 
        Cliente c ON v.IdCliente = c.IdCliente
    INNER JOIN
        DetalleVenta dv ON dv.IdVenta = v.IdVenta
    WHERE 
        CAST(v.Fecha AS DATE) >= @FechaInicio
        AND CAST(v.Fecha AS DATE) <= @FechaFin
    ORDER BY 
        v.Fecha DESC
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[51] 4[21] 2[10] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BitacoraDiaria"
            Begin Extent = 
               Top = 11
               Left = 14
               Bottom = 219
               Right = 223
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Empleado"
            Begin Extent = 
               Top = 110
               Left = 369
               Bottom = 253
               Right = 578
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Lote"
            Begin Extent = 
               Top = 1
               Left = 636
               Bottom = 175
               Right = 845
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VBitacoraDiaria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VBitacoraDiaria'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[41] 4[15] 2[26] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Camion"
            Begin Extent = 
               Top = 11
               Left = 68
               Bottom = 141
               Right = 277
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Empleado"
            Begin Extent = 
               Top = 10
               Left = 428
               Bottom = 197
               Right = 637
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VCamionEmpleado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VCamionEmpleado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DetalleVenta"
            Begin Extent = 
               Top = 4
               Left = 299
               Bottom = 214
               Right = 508
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Lote_Faenado"
            Begin Extent = 
               Top = 31
               Left = 48
               Bottom = 204
               Right = 257
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Venta"
            Begin Extent = 
               Top = 6
               Left = 591
               Bottom = 183
               Right = 800
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VDetalle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VDetalle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[61] 4[15] 2[6] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Cargo"
            Begin Extent = 
               Top = 59
               Left = 475
               Bottom = 172
               Right = 684
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Empleado"
            Begin Extent = 
               Top = 75
               Left = 114
               Bottom = 297
               Right = 323
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VEmpleado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VEmpleado'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[43] 4[26] 2[13] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Galpon"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 176
               Right = 247
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Lote"
            Begin Extent = 
               Top = 22
               Left = 353
               Bottom = 269
               Right = 562
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "RazaAve"
            Begin Extent = 
               Top = 0
               Left = 638
               Bottom = 130
               Right = 847
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VLote'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VLote'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[48] 4[21] 2[13] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Empleado"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 247
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Lote"
            Begin Extent = 
               Top = 7
               Left = 638
               Bottom = 224
               Right = 847
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Orden_Faenado"
            Begin Extent = 
               Top = 31
               Left = 334
               Bottom = 197
               Right = 543
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1920
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VOrden'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VOrden'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[81] 4[1] 2[2] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Camion"
            Begin Extent = 
               Top = 5
               Left = 28
               Bottom = 135
               Right = 237
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Empleado"
            Begin Extent = 
               Top = 0
               Left = 724
               Bottom = 152
               Right = 933
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Venta"
            Begin Extent = 
               Top = 189
               Left = 295
               Bottom = 397
               Right = 504
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Cliente"
            Begin Extent = 
               Top = 233
               Left = 735
               Bottom = 368
               Right = 944
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1215
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VVenta'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VVenta'
GO
USE [master]
GO
